.app {
  height: 100vh;
  display: flex;
  background: #020230;
  color: white;
}
.main {
  width: 75%;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0), #020230),
    url("./assets/image/bg.jpeg") center;
  display: flex;
  flex-direction: column;
}
.result{
  position: relative;
  margin: auto;
}
.top {
  height: 50%;
  position: relative;
}

.timer {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  border: 5px solid white;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 10px;
  left: 80px;
  font-size: 30px;
  font-weight: 700;
}

.bottom {
  height: 50%;
}

.pyramid {
  width: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.moneyList {
  list-style: none;
  width: 100%;
  padding: 20px;
}
.moneyItem {
  display: flex;
  align-items: center;
  border-radius: 5px;
  padding: 5px;

  &.active {
    background: teal;
  }
}
.moneyItemNumber {
  font-size: 18px;
  font-weight: 100;
  width: 30%;
}

.moneyItemAmount {
  font-weight: 20px;
  font-weight: 300;
}
